
 body {
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
        background-color: rgb(255, 127, 127);
        color: #fff;
        font-size: 62.5%;
    }
    
    div#wrap {
/*        position: relative;*/
        position: absolute;
        width: 80%;
        height: 80%;
        left: 10%;
        top: 10%;
    }
    .numbers {
        position: absolute;
        text-align: center;
       /* left: 22%;*/
        top: 35%;
        width: 100%;
        margin: 0;
        font-size: 6em;
    }
    
    h2.introduce {
        position: absolute;
/*        position: relative;*/
        text-align: center;
        font-weight: normal;
        font-size: 3em;
        width: 100%;
        /*left: 10%;*/
        margin-top: 0%;
        top: 10%;
    }
    
    
    div.button a {
        position: absolute;
        text-align: center;
        bottom: 10%;
        left: 20%;
        width: 60%;
        color: #fff;
        text-decoration: none;
        font-size: 5em;
        border: 3px solid #fff;
    }